<% provide(:title, 'Join') %>
<% provide(:subtitle, 'Join a spot near you') %>
<div class="content">
  <div id="map-all">
  </div>
  <script>
	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(function(position) {
			initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
			var mapOptions = {
				center: initialLocation,
				zoom: 16
			};
			map = new google.maps.Map(document.getElementById('map-all'), mapOptions);
			<% @spots.each do |	spot | %>
				marker = new google.maps.Marker({
					position: new google.maps.LatLng( <%= spot.lat %> , <%= spot.lng %> ),
					map: map
				}); 
			<% end %>
		});
	}
  </script>
</div>
