<% provide(:title, 'The Ugly Indian') %>
<% provide(:subtitle, 'Is there any hope?') %>
<div class="header">
  <h1><%= yield(:title) %></h1>
  <h2><%= yield(:subtitle) %></h2>
</div>
<div class="content">
  <div class="textcontent">
    <p>
      <blockquote>
        It’s time we admitted that many of India’s problems are because many of us are Ugly Indians.
      </blockquote>
      Look at any Indian street, we have pathetic civic standards.We tolerate an incredible amount of filth.This is not about money, knowhow, or systems.This is about attitudes. About a rooted cultural behaviour.The Ugly Indian can take the world's best systems and find a way around it. Even outside India. Streets in Indian-dominated suburbs overseas are good indicators of this lack of civic sense. Ask those who have visited Southall (London), Edison (New Jersey) and Little India (Singapore).
      <p>
        It’s time for us Ugly Indians to do something about this. Only we can save us, from ourselves.
      </p>
      <a class="pure-button pure-button-primary" onclick="tour.restart();"><i class="fa fa-play"></i>&nbsp;Show me how</a>
    </p>
    <h2 class="content-subhead">Are you an Ugly Indian?</h2>
    <p>
      Would you like to make a change in your surroundings? Write to us. Some of our learnings may be of use. You can take that first step today. Is your street clean? Do you think we are being bit harsh on ourselves? Please send us some photos of your street and we will gladly publish them here!
    </p>
    <p>
      Do you want to contribute your specialist skills ? Architects, designers, civil engineers, landscape artists, wall painters - your city needs you! We were inspired by the War on Litter Institute. Read their WOLPapers. We have contributed a few WOLPapers already!
    </p>
    <p>It is a small beginning, but we see hope. Do you ? Tell us at
      <code>theuglyindian@gmail.com</code>, or post on our (clean) wall at Facebook.
      <blockquote>
        There is hope. The Ugly Indian is not that ugly after all.
      </blockquote>
    </p>
  </div>
</div>
<script>
  // Instance the tour
  var tour = new Tour({
    storage: false,
    steps: [
    {
      element: "#signup",
      title: "Signup",
      content: "Signup to create and report spot fixes"
    },
    {
      element: "#plan",
      title: "Plan",
      content: "Submit a new spot you want to fix"
    },
    {
      element: "#join",
      title: "Join",
      content: "Join a spot fix near you"
    },
    {
      element: "#report",
      title: "Report",
      content: "Report about a completed spot fix"
    },
    {
      element: "#completed",
      title: "Completed",
      content: "View completed spot fixes in the past"
    }
  ]});

  // Initialize the tour
  tour.init();
</script>
