<% provide(:title, 'Plan') %>
<% provide(:subtitle, 'Plan a spot fix') %>
<form class="pure-form" id="top-form">
<fieldset>
    <input class="pure-input-2-3" type="text" placeholder="Address" id="address">
    <button type="submit" class="pure-button pure-button-primary" id="search"><i class="fa fa-search"></i>&nbsp;Search</button>
    <button type="submit" class="pure-button pure-button-primary" id="search"><i class="fa fa-paper-plane"></i>&nbsp;Submit</button>
</fieldset>
</form>
<div class="content" id="map-canvas">
</div>
