<% if @spot.errors.any? %>
  <div id="error_explanation" class="error">
    <div>
      The form contains <%= pluralize(@spot.errors.count, "error") %>.
    </div>
    <ul>
    <% @spot.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>