body {
    color: #777;
}
body, html, div#layout, div#main, div.content {
    height: 100%;
}
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/* Add transition to containers so they can push in and out. */
#layout, #menu, .menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/* This is the parent `<div>` that contains the menu and the content area. */
#layout {
    position: relative;
    padding-left: 0;
}
#layout.active {
    position: relative;
    left: 190px;
}
#layout.active #menu {
    left: 190px;
    width: 190px;
}
#layout.active .menu-link {
    left: 190px;
}

/* The content `<div>` is where all your content goes. */
.content {
    margin: 0 auto;
    padding: 0em;
    line-height: 1.6em;
}
.header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
    display: none;
}
.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}
.header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}
.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

/* The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page. */
/* --------------------------
* Main Navigation Bar Styles
* -------------------------- */

/* Add transition to containers so they can push in and out */
#layout, #menu, .menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
#layout.active .menu-link {
    left: 190px;
}
#menu {
    margin-left: -190px; /* "#menu" width */
    width: 190px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
#menu a {
    color: #999;
    border: none;
    white-space: normal;
    padding: 0.625em 1em;
}
#menu .pure-menu-open {
    background: transparent;
    border: 0;
}
#menu .pure-menu ul {
    border: none;
    background: transparent;
}
#menu .pure-menu ul, #menu .pure-menu .menu-item-divided {
    border-top: 1px solid #333;
}
#menu .pure-menu li a:hover, #menu .pure-menu li a:focus {
    background: #333;
}
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: 2em;
    padding: 1em;
}
.menu-link:hover, .menu-link:focus {
    background: #000;
}
.menu-link span {
    position: relative;
    display: block;
    margin-top: 0.9em;
}
.menu-link span, .menu-link span:before, .menu-link span:after {
    background-color: #fff;
    width: 100%;
    height: .2em;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.menu-link span:before, .menu-link span:after {
    position: absolute;
    top: -.55em;
    content: " ";
}
.menu-link span:after {
    top: .55em;
}
.menu-link.active span {
    background: transparent;
}
.menu-link.active span:before {
    -webkit-transform: rotate(45deg) translate(.5em, .4em);
    -moz-transform: rotate(45deg) translate(.5em, .4em);
    -ms-transform: rotate(45deg) translate(.5em, .4em);
    -o-transform: rotate(45deg) translate(.5em, .4em);
    transform: rotate(45deg) translate(.5em, .4em);
}
.menu-link.active span:after {
    -webkit-transform: rotate(-45deg) translate(.4em, -.3em);
    -moz-transform: rotate(-45deg) translate(.4em, -.3em);
    -ms-transform: rotate(-45deg) translate(.4em, -.3em);
    -o-transform: rotate(-45deg) translate(.4em, -.3em);
    transform: rotate(-45deg) translate(.4em, -.3em);
}
#menu .pure-menu-heading {
    font-size: 125%;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: #fff;
    margin-top: 0;
    padding: 0.5em 0.8em;
}
#menu .pure-menu-heading:hover, #menu .pure-menu-heading:focus {
    color: #999;
}
#menu .pure-menu-selected {
    background: #1f8dd6;
}
#menu .pure-menu-selected a {
    color: #fff;
}
#menu li.pure-menu-selected a:hover, #menu li.pure-menu-selected a:focus {
    background: none;
}
#top-form, #info {
    position: relative;
    z-index: 5; /* The z-index should be higher than Google Maps */
    margin: 0px auto 0;
    height: auto;
    color: white;
}
#map-canvas, #map-all, #map-canvas-edit {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}
.mapoverlay {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
}
.u-search-btn {
        padding-top: 0.5em;
}
/* -- Responsive Styles (Media Queries) ------------------------------------- */
/* Hides the menu at `48em`, but modify this based on your app's needs. */

@media (min-width:48em) {
    .header, .content {
        padding-left: 0em;
        padding-right: 0em;
    }
    #layout {
        padding-left: 190px;
        left: 0;
    }
    #menu {
        left: 190px;
    }
    .menu-link {
        position: fixed;
        left: 190px;
        display: none;
    }
    #layout.active .menu-link {
        left: 190px;
    }
    .mapoverlay {
        max-width: 60%;
    }
    .u-search-btn {
        right: 0em;
        position: absolute;
        padding-top: 0.1em;
    }
}
.button-error {
    color: white;
    background: rgb(202, 60, 60); /* this is a maroon */
}
.info, .success, .warning, .error, .validation {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 10px 10px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    background-image: image-url('info.png');
}
.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    background-image: image-url('success.png');
}
.warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
    background-image: image-url('warning.png');
}
.error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    background-image: image-url('error.png');
}
.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: 4px;
    right: -21px;
    color: inherit;
    -webkit-appearance: none;
    border: 0;
    background: 0 0;
    float: right;
}
.l-box {
    padding: 0.25em;
}

.spot-infos {
    position: absolute;
    right: 0px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 2em;
    z-index: 5;
 }

.spot-info {
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0 0 3em;
    background: #fff;
}
.spot-info-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.spot-info-list li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}
.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #1f8dd6;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

#uprogressbar {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}