<p>Welcome <%= @resource.name %>!</p>

<p>Thanks for joining India Rising!</p>

<p>Please confirm your account email by clicking the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
